/* 첫 번째 슬라이더 스타일 */
.sliderOne .slick-slider,
.sliderOne .slick-list,
.sliderOne .slick-track {
  height: 350px;
}

.sliderOne .slick-slide > div {
  height: 350px;
}

.sliderOne .slick-slide img {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

/* 두 번째 슬라이더 스타일 조정 */
.sliderTwo .slick-slider,
.sliderTwo .slick-list,
.sliderTwo .slick-track {
  height: auto;
}

.sliderTwo .slick-slide > div {
  height: auto;
}


.sliderTwo .slick-slide img {
  width: 100%;
  object-fit: contain;
}

/* 3 번째 슬라이더 스타일 조정 */
.sliderThree .slick-slider,
.sliderThree .slick-list,
.sliderThree .slick-track {
  height: auto;
}

.sliderThree.slick-slide > div {
  height: auto;
}


.sliderThree .slick-slide img {
  width: 100%;
  object-fit: contain;
}
