@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'RobotoMono';
  src: url('./font/RobotoMono-Bold.ttf') format('truetype')
}


body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'RobotoMono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.screen-box{
	-ms-overflow-style:none !important; /* IE and Edge */
  scrollbar-width:none !important; /* Firefox */
}

.screen-box::-webkit-scrollbar {
	display:none !important; /* Chrome , Safari , Opera */
}